.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 160px;
  right: 250px;
  background-color: #25d366;
  color: #FFF !important;
  border-radius: 50px;
  text-align: center;
  font-size: 38px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

.btn {
  border: none;
}

@media (max-width: 600px) {
  .whatsapp {
    bottom: 180px;
    right: 40px;
    
  }
}