{% load static %}

<nav
  class="fixed-top navbar navbar-expand-lg navbar-light bg-light"
  style="background: black"
>
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}"
      ><img
        src="{% static 'only_flans.png' %}"
        alt="logo"
        style="max-height: 40px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="btn btn-outline-warning mx-2"
            aria-current="page"
            href="{% url 'index' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-warning mx-2" href="{% url 'welcome' %}">Welcome</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-warning mx-2" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-warning mx-2" href="{% url 'contactus' %}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-warning mx-2" href="{% url 'recipes' %}">Recetas</a>
        </li>
      </ul>

      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a
            class="btn btn-outline-dark"
            aria-current="page"
            href="{% url 'login' %}"
            >Log In</a
          >
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="btn btn-outline-dark ms-4" href="{% url 'logout' %}">Log Out</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
