{% extends 'base.html' %} {%block content%}

<h1>About</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus cum incidunt
  consectetur quas quo unde mollitia harum iure dignissimos! Iusto error tempore
  reiciendis accusantium culpa maiores quis cum hic praesentium, doloribus, quo
  molestiae corporis. Temporibus corrupti harum alias exercitationem perferendis
  eligendi rem itaque est ullam, fugiat officiis, facere tempore placeat sunt,
  doloribus cupiditate rerum voluptates obcaecati numquam sed. Ipsam natus nulla
  esse iste quasi repellat sed repellendus eligendi obcaecati, in nihil
  blanditiis animi praesentium inventore laborum totam minus optio doloribus
  quod beatae eius fuga. Excepturi asperiores cupiditate atque quas optio
  quaerat quod nulla fugiat fugit illum? Molestias a corporis eligendi? Libero
  eligendi eaque officia dolor, saepe provident vitae magnam dolorem sit
  distinctio ratione in iusto voluptas temporibus incidunt eum, rem repudiandae
  veritatis? Officiis enim fugiat necessitatibus dignissimos vero corrupti eum.
  Esse doloremque non sapiente eum nam aut a iusto, modi consectetur
  reprehenderit consequuntur quia reiciendis ad voluptates placeat earum
  inventore.
</p>

{% endblock %}
